table {
  width: 100%;
  min-height: 150px;
}

.loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 101;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  position: relative;
}

.table-container {
  min-height: 150px;
  position: relative;
  overflow: auto;
  /*max-height: 680px;*/
  /*height:100%;*/
}
