<p>status: {{status}}</p>
<table mat-table matSort (sort)="onSortChange($event)" [dataSource]="currentData" matSortActive="{{currentViewParams!.sortByColumn}}" matSortDirection="{{currentViewParams!.sortByDirection}}">
  <ng-template ngFor [ngForOf]="colProps" let-prop >
      <ng-container matColumnDef="{{prop.code}}">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{prop.title}}</th>
        <td mat-cell *matCellDef="let row">
          <app-generic-cont [data]="row" [params]="prop.params" [template]="prop.template"></app-generic-cont>
        </td>
      </ng-container>
  </ng-template>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
<mat-paginator (page)="onPageChange($event)" [pageSize]="currentViewParams.pageSize" [pageIndex]="currentViewParams.pageIndex" [length]="amountOfAll"></mat-paginator>
